@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IEnumerable<POSMVC.Models.PageModels.BrandsVM.ListBrandVM>


@{
    ViewData["Title"] = "Brands";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var searchValue = (string)ViewBag.SearchValue;
}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-6 col-xl-3 height-card box-margin">
            <div class="card">
                <div class="card-body">
                    <!-- Single Widget -->
                    <div class="single-widget-area d-flex align-items-center justify-content-between">
                        <div class="profit-icon">
                            <i class="zmdi zmdi-favorite-outline"></i>
                        </div>

                        <div class="total-profit">
                            <h6 class="mb-0">Returning Customers</h6>
                            <div class="counter font-30 font-weight-bold" data-comma-separated="true">1,589</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3 height-card box-margin">
            <div class="card">
                <div class="card-body">
                    <!-- Single Widget -->
                    <div class="single-widget-area d-flex align-items-center justify-content-between">
                        <div class="profit-icon">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>

                        <div class="total-profit">
                            <h6 class="mb-0">New Customers</h6>
                            <div class="counter font-30 font-weight-bold" data-comma-separated="true">25,6987</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3 height-card box-margin">
            <div class="card">
                <div class="card-body">
                    <!-- Single Widget -->
                    <div class="single-widget-area d-flex align-items-center justify-content-between">
                        <div class="profit-icon">
                            <i class="zmdi zmdi-network"></i>
                        </div>

                        <div class="total-profit">
                            <h6 class="mb-0">Conversion</h6>
                            <div class="counter font-30 font-weight-bold" data-comma-separated="true">252.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3 height-card box-margin">
            <div class="card">
                <div class="card-body">
                    <!-- Single Widget -->
                    <div class="single-widget-area d-flex align-items-center justify-content-between">
                        <div class="profit-icon">
                            <i class="zmdi zmdi-eye"></i>
                        </div>

                        <div class="total-profit">
                            <h6 class="mb-0">Bounce Rate</h6>
                            <div class="counter font-30 font-weight-bold" data-comma-separated="true">15.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card mb-30">
                <div class="card-body pb-0">
                    <div class="justify-content-between align-items-center mb-20">
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="card-title mb-0">Search Result</h6>
                            </div>
                            <div class="col-md-6 float-right pr-4">
                                <span class="badge font-14 badge-soft-info float-right">
                                    <a href="/Brands/Brands?page=1"><i class="zmdi zmdi-arrow-back"></i> Back Records</a>
                                </span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-sm btn-outline-success" onclick='openModalCreateForm("mdlCreateForm","CreateForm","Brands","CreateBrand")'><i class="zmdi zmdi-collection-plus"></i> New Brand </button>
                            </div>
                            <div class="col-md-6 float-right">
                                <div class="input-group">
                                    <input class="form-control py-2 border-right-0 border" value="@searchValue" name="brand" type="search" placeholder="Search by brand" id="searchBrand">
                                    <span class="input-group-append">
                                        <button class="btn btn-fill-default border-0" disabled>
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (Model.Count() <= 0)
                    {
                        <div class="text-center">
                            <span class="badge font-11 badge-soft-purple"> There is no record found</span>

                        </div>
                    }
                    else
                    {
                        <div class="table-responsive order-stats">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="10%">Logo</th>
                                        <th width="80%">Name</th>
                                        <th width="10%">

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <img src="~/@item.Brand.SmallImage" class="chat-img rounded" alt="Customer Photo">
                                            </td>
                                            <td>
                                                <span class="font-15">@item.Brand.Name</span>
                                            </td>
                                            <td>
                                                <a href="#" class="mr-2" data-toggle="tooltip" title="" data-original-title="Update Info" onclick='openModalUpdateForm("mdlUpdateForm", "UpdateForm", "Brands","EditBrand", "?id=@item.Brand.Id")'><i class="fa fa-edit text-info font-18"></i></a>
                                                <a href="#" data-toggle="tooltip" title="" data-original-title="Delete" onclick='deleteConfirmation({id: @item.Brand.Id}, "@item.Brand.Name", "Brands", "DeleteBrand")'><i class="fa fa-trash text-danger font-18"></i></a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="form-group pull-right">
                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Peoples", new { page = page }),
                           new X.PagedList.Mvc.Common.PagedListRenderOptionsBase
                           {
                               DisplayItemSliceAndTotal = true,
                               ContainerDivClasses = new[] { "navigation", "btn btn-default" },
                               LiElementClasses = new[] { "page-item" },
                               PageClasses = new[] { "btn-success", "page-link" },
                               ActiveLiElementClass = "btn-defult"
                           })
                        </div>
                    }

                </div>


            </div>
        </div>
    </div>
    <div class="modal fade" id="mdlCreateForm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0 font-16" id="myLargeModalLabel">Add New People</h5>
                    <button type="button" class="close" onclick='closeModalCreateForm("mdlCreateForm","CreateForm")'>
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="CreateForm">
                        <div class="text-center">
                            <img src="~/ProjectImage/loading.gif" alt="Loading ..." />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mdlUpdateForm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0 font-16" id="myLargeModalLabel">Update People</h5>
                    <button type="button" class="close" onclick='closeModalUpdateForm("mdlUpdateForm","UpdateForm")'>
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="UpdateForm">
                        <div class="text-center">
                            <img src="~/ProjectImage/loading.gif" alt="Loading ..." />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts{

    

    <script type="text/javascript">
        $(document).ready(function () {

            $('ul.pagination > li.disabled > a').addClass('page-link');

            $('#searchBrand').autocomplete({
                minLength: 2,
                source: '/Brands/BrandSearch',
                select: function () {
                    window.location.href = "/Brands/SearchResult?brand=" + $(this).val();
                }
            });

        });
    </script>

}

