@model POSMVC.Models.PageModels.OrdersVM.PaymentsVM

<div class="row">
    <div class="col-6">
        <h4>@Model.Orders.OrderNo</h4>
    </div>
    <div class="col-6">
        <h5 class="pull-right">Charge $@Model.Orders.GrandTotal</h5>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <!-- Table -->

        <table class="table table-bordered">
            <thead>
                <tr class="pt-0">
                    <th class="px-0 pl-2 bg-transparent border-top-0">
                        <span class="font-14">#Transaction Date</span>
                    </th>
                    <th class="px-0 pr-2 bg-transparent border-top-0 text-right">
                        <span class="font-14">Transaction No</span>
                    </th>
                    <th class="px-0 pr-2 bg-transparent border-top-0 text-right">
                        <span class="font-14">Payment Method</span>
                    </th>
                    <th class="px-0 pr-2 bg-transparent border-top-0 text-right">
                        <span class="font-14">Paid Amount</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListPayments.Count > 0)
                {
                    foreach (var item in Model.ListPayments)
                    {
                        <tr>
                            <td class="px-2 py-0">
                                @(Model.ListPayments.IndexOf(item) + 1). @item.Payment.TransactionDate.Value.ToString("dddd, dd MMMM yyyy"))
                            </td>
                            <td class="px-2 py-0 text-right">
                                @item.Payment.TransactionNo
                            </td>
                            <td class="px-2 py-0 text-right">
                                @item.paymentMethods.Name
                            </td>
                            <td class="px-2 py-0 text-right">
                                $@item.Payment.PaidAmount
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="pt-0">
                        <td class="py-0 px-2 text-center" colspan="4">
                            <strong class="text-danger font-14">
                                No Payment Transaction found.
                            </strong>
                        </td>
                    </tr>
                }

                <tr class="pt-0">
                    <td class="py-0 px-2 border-top" colspan="3">
                        <strong>Total Paid</strong>
                    </td>
                    <td class="py-0 px-2 text-right">
                        <strong class="font-14">
                            $@Model.TotalPaidAmount
                        </strong>
                    </td>
                </tr>
                <tr class="pt-0">
                    <td class="py-0 px-2 border-top" colspan="3">
                        <strong>Due Amount</strong>
                    </td>
                    <td class="py-0 px-2 text-right">
                        <strong class="font-14">
                            $@Model.DueAmount
                        </strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group right-align">
            <br />
            <br />
            <button type="button" class="btn btn-sm btn-outline-danger" style="width:150px" onclick='closeModalCreateForm("mdlViewHistory", "loadHistory")'><i class="zmdi zmdi-close"></i> Close</button>
        </div>
    </div>
</div>
